/TimeManagementApp/target
/TimeManagementApp/nbproject/
/TimeManagementApp/null
/TimeManagementApp/nb-configuration.xml
/TimeManagementApp/testDB.db
/TimeManagementApp/nbactions.xml
/TimeManagementApp/tests.db
